footer {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 70px;
}

.container {
  height: 700px;
  width: 1200px;
  background-color: #efefef;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 100%;
}

.info {
  background-color: white;
}

.containerSearch {
  position: relative;
  display: block;
}

.searchInput {
  display: block;
  background-color: #ededef;
  border: none;
  height: 25px;
  border-radius: 15px;
  margin: 20px auto;
  grid-column-start: 1;
  padding: 7px;
  width: 340px;
}

.searchInput {
  font-size: 0.9rem;
}

.searchInput {
  outline: none;
}

.searchEnter {
  position: absolute;
  top: 0;
  right: 70px;
  background: url('../../assets/search.svg') no-repeat center;
  background-size: 30px;
  cursor: pointer;
  border: none;
  padding: 20px;
}

.mainInfo {
  display: grid;
  height: calc(100% - 79px);
  max-height: 100%;
  align-content: center;
}

.temperature {
  display: grid;
  justify-items: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 5.5rem;
}

.generalInfo {
  display: grid;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  margin: 10px 0;
  justify-items: center;
  font-weight: 400;
}

.generalInfo::after {
  display: block;
  content: '';
  background-color: #f3f3f3;
  height: 3px;
  width: 270px;
  margin: 20px auto;
}

.infoDay {
  display: grid;
  font-family: 'Quicksand', sans-serif;
  color: #535353;
  justify-items: center;
}

.city {
  display: grid;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 2.3rem;
  margin-top: 50px;
  justify-content: center;
  text-align: center;
}

.navigationDay > ul {
  display: flex;
}

.navigationDay > ul > li {
  color: #aaaaaa;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  margin-right: 15px;
}

.navigationDay > ul > li.active {
  color: black;
}

.moreInfo {
  padding: 20px;
}

.gridDetails {
  display: grid;
  margin-top: 30px;
  gap: 30px;
  row-gap: 45px;
  grid-template-columns: 1fr 1fr 1fr;
}

.gridDetails > div {
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #748cf1;
  width: 100%;
  padding: 12px;
  height: 130px;
}

.gridDetails > div > h3 {
  font-family: 'Quicksand', sans-serif;
  color: #d1d7ee;
  font-weight: 400;
  font-size: 0.8rem;
}

.details {
  display: grid;
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 1.6rem;
  margin-top: 20px;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.temperature .loader::before {
  border: 5px solid black;
}

.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
