@import url('../animations/loading.css');

body {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1cfcf;
}

footer {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 70px;
}

.container {
  height: 700px;
  width: 1200px;
  max-width: 100%;
  background-color: #efefef;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 100%;
}

.info {
  background-color: white;
  height: 100%;
}

.containerSearch {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 20px;
}

.searchInput {
  box-sizing: border-box;
  background-color: #ededef;
  border: none;
  height: 32px;
  border-radius: 15px;
  margin: 20px auto;
  grid-column-start: 1;
  padding: 10px;
  width: 100%;
}

.searchInput {
  font-size: 0.9rem;
}

.searchInput {
  outline: none;
}

.searchEnter {
  position: absolute;
  background: url('../../assets/search.svg') no-repeat center;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  background-size: 27px;
  cursor: pointer;
  border: none;
  padding: 20px;
}

.mainInfo {
  display: grid;
  height: calc(100% - 79px);
  max-height: 100%;
  align-content: center;
  padding: 0 20px;
}

.temperature {
  display: grid;
  justify-items: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 5.5rem;
}

.generalInfo {
  display: grid;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  margin: 10px 0;
  padding: 0 40px;
  justify-items: center;
  font-weight: 400;
}

.generalInfo::after {
  box-sizing: border-box;
  display: block;
  content: '';
  background-color: #f3f3f3;
  height: 3px;
  width: 100%;
  margin: 20px auto;
}

.infoDay {
  display: grid;
  font-family: 'Quicksand', sans-serif;
  color: #535353;
  justify-items: center;
}

.city {
  display: grid;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 2.3rem;
  margin-top: 50px;
  justify-content: center;
  text-align: center;
}

.navigationDay > ul {
  display: flex;
}

.navigationDay > ul > li {
  color: #aaaaaa;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  margin-right: 15px;
}

.navigationDay > ul > li.active {
  color: black;
}

.moreInfo {
  box-sizing: border-box;
  max-height: 100%;
  padding: 20px;
}

.gridDetails {
  display: grid;
  margin-top: 30px;
  gap: 30px;
  row-gap: 45px;
  grid-template-columns: 1fr 1fr 1fr;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.temperature .loader::before {
  border: 5px solid black;
}

.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

/* Responsive Layout */
@media (max-width: 970px) {
  .city {
    font-size: 1.8rem;
  }

  .gridDetails {
    grid-template-columns: 1fr 1fr;
  }

  .details {
    margin-top: 10px;
  }

  @media (max-width: 700px) {
    body {
      background-color: #efefef;
    }

    .container {
      min-height: 100vh;
    }

    .info {
      padding-bottom: 20px;
    }

    .gridDetails {
      grid-template-columns: 1fr 1fr;
      max-height: 100%;
    }

    .grid {
      grid-template-columns: 1fr;
    }

    .container {
      box-sizing: border-box;
      width: 100vw;
      height: 100vw;
    }

    .navigationDay > ul > li {
      padding-top: 30px;
    }

    body {
      padding: 0;
      align-items: stretch;
    }
  }
}
